<%= form_tag(do_login_admin_users_path, method: :post, role: "form", class: "form-validation") do %>

  <div class="container col-6">
  <div class="mb-5">
    <label for="email">E-mail</label>
    <%= email_field_tag :email, nil, class: "form-control" %>
  </div>

  <div class="mb-5">
    <label for="senha">Senha</label>
    <%= password_field_tag :senha, nil, class: "form-control" %>
  </div>

  <%= submit_tag "Entrar", class: "btn btn-primary" %>
  </div>

<% end %>