<%
  alert_class = ""

  flash.each do |type, message|
    case type.to_s
    when "sucess"
      alert_class = "alert-sucess"
    when "error"
      alert_class = "alert-danger"
    when "alert"
      alert_class = "alert-warning"
    when "notice"
      alert_class = "alert-info"
    else
      alert_class = "alert-secondary"
    end
%>

  <%= "<div class='alert #{alert_class}'><p>#{message}</p></div>".html_safe %>

<% end %>