<div class="d-flex pt-1 justify-content-start col-11">
  <%= link_to root_path do %>
    <img src="<%= image_path("11.png") %>" width="110px" alt="logo nubank" />
  <% end %>
</div>
<div class="d-flex col-sm-8 col-md-6 col-lg-4 col-lg-2 container">
  <div class="my-5 container px-5 bg-light shadow col-11 row-12 border-0 rounded container">
  <div class="w-100 pt-5 text-center">
    <h1 class="text-dark">Login</h1>
  </div>
    <%= render 'admin/users/shared/background' %>
    <%= render 'admin/users/partials/form' %>
  </div >
</div>
